In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from functools import reduce

In [2]:
import os
os.getcwd()

'/Users/fangduan/Documents/Projects/HomeCredit/predict/2208'

In [30]:
M1 = pd.read_csv('lightGBM_self_oof_0.796.csv')
# M2 = pd.read_csv('logistic_0.765.csv')
M2 = pd.read_csv('logistic_0.750.csv')
M3 = pd.read_csv('pure_gp_0.787.csv')
# M3 = pd.read_csv('pure_gp_0.786.csv')
M4 = pd.read_csv('ffnn_rank_gauss_0.775.csv')
M5 = pd.read_csv('tidy_xgb_0.78889.csv')
# M5 = pd.read_csv('tidy_xgb_0.78847.csv')
M6 = pd.read_csv('nn_0.763.csv')
# M5 = pd.read_csv('XGBoost_test_predictions_rank_mean.csv')

In [31]:
M2 = M2.drop(columns = 'Unnamed: 0')

In [32]:
def calculate_rank(predictions):
    rank = (1 + predictions.rank().values) / (predictions.shape[0] + 1)
    return rank
# M2['TARGET'] = calculate_rank(M2['TARGET'])
M3['TARGET'] = calculate_rank(M3['TARGET'])
M4['TARGET'] = calculate_rank(M4['TARGET'])
M5['TARGET'] = calculate_rank(M5['TARGET'])

In [33]:
def merge_dataframes(dfs, merge_keys):
    dfs_merged = reduce(lambda left,right: pd.merge(left, right, on=merge_keys), dfs)
    return dfs_merged

In [34]:
dfs = [M1,M2,M3,M4,M5,M6]
merge_keys=['SK_ID_CURR']
df = merge_dataframes(dfs, merge_keys=merge_keys)

In [35]:
df.columns = ['SK_ID_CURR','T1','T2','T3','T4','T5','T6']
df.head()

   SK_ID_CURR        T1        T2        T3        T4        T5        T6
0      100001  0.466456  0.612333  0.684480  0.472048  0.369617  0.262422
1      100005  0.842515  0.312973  0.904421  0.894164  0.863822  0.805777
2      100013  0.420531  0.717888  0.357493  0.321941  0.328075  0.288541
3      100028  0.508073  0.760559  0.278408  0.617438  0.395343  0.183760
4      100038  0.869041  0.296655  0.915663  0.824762  0.827203  0.747986

In [28]:
df.corr()

,SK_ID_CURR,TARGET_x,TARGET_y,TARGET_x,TARGET_y,TARGET_x,TARGET_y
SK_ID_CURR,1.000000,-0.003980,0.006842,-0.005781,-0.011333,-0.004982,-0.001276
TARGET_x,-0.003980,1.000000,-0.835998,0.917175,0.894350,0.943380,0.840225
TARGET_y,0.006842,-0.835998,1.000000,-0.858902,-0.851798,-0.827631,-0.869578
TARGET_x,-0.005781,0.917175,-0.858902,1.000000,0.911605,0.908917,0.858334
TARGET_y,-0.011333,0.894350,-0.851798,0.911605,1.000000,0.887429,0.844851
TARGET_x,-0.004982,0.943380,-0.827631,0.908917,0.887429,1.000000,0.830291
TARGET_y,-0.001276,0.840225,-0.869578,0.858334,0.844851,0.830291,1.000000

In [39]:
B_prob = 0.55 * df['T1'] + 0.1 * df['T2'] + 0 * df['T3'] + 0 * df['T4'] + 0.2 * df['T5'] + 0.15 * df['T6']
B_prob.head(10)

0    0.431071
1    0.788311
2    0.411977
3    0.462128
4    0.785277
5    0.576545
6    0.114659
7    0.384724
8    0.224849
9    0.664549
dtype: float64

In [35]:
SUB = pd.DataFrame()
SUB['SK_ID_CURR'] = df['SK_ID_CURR']
SUB['TARGET'] = B_prob
SUB.to_csv('Blender_rank.csv', index=False)

In [53]:
## read saved 1174 features
# import pandas as pd
# from sklearn import externals as ext
# temp = ext.joblib.load('../Documents/Projects/solution 5/feature_joiner_train')
# train = pd.DataFrame(temp['features'])

In [13]:
# train.to_csv('train.csv.gz', compression='gzip', sep = ',', index = False) # train.to_csv('train.csv') does not work

In [14]:
# temp = ext.joblib.load('../Documents/Projects/solution 5/feature_joiner_test')
# test = pd.DataFrame(temp['features'])

In [15]:
# test.to_csv('test.csv', index = False)